.container .places .boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container .places h1 {
    text-align: left;
    font-size: 30px;
}
.container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
}
.container .places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0.75rem;
    float: left;
}

.container .places article .price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    float: right;
}

.container .places article .information {
    height: 80px;
    border-top:solid #DDDDDD 1px;
    border-bottom:solid #DDDDDD 1px;
    text-align: center;
}

.container .places article .information .max_guest {
    width: 1000px;
}

.container .places article .information .number_rooms {
    width: 1000px;
}

.container .places article .information .number_bathrooms {
    width: 1000px;
}
